@import '@/styles/breakpoints.scss';

.slug-edit {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 0;
  cursor: pointer;
  padding: 8px;
  outline: 0 !important;

  .v-icon {
    position: absolute;
    cursor: pointer;
    top: 7px;
    left: 7px;
  }
}

.actions {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  @include md-down() {
    flex-flow: column-reverse;

    .v-btn[type='submit'] {
      margin-bottom: 1rem;
    }
  }
}
