$border-grey: hsla(0, 0%, 100%, 0.7);

.tox {
  border: 1px solid $border-grey !important;

  .tox-edit-area__iframe,
  .tox-toolbar-overlord,
  .tox-toolbar__primary {
    background: transparent !important;
  }

  .tox-statusbar {
    display: none !important;
  }

  .tox-tbtn svg {
    fill: $border-grey !important;
  }

  .tox-tbtn {
    color: white !important;

    &:hover {
      background: $primary-color !important;
    }
  }

  .tox-toolbar-overlord {
    border-bottom: 1px solid $border-grey !important;
  }

  .tox-menu {
    background: $primary-color !important;
    border: none !important;
    box-shadow: 0 2px 10px -4px rgba(0, 0, 0, 0.3) !important;

    .tox-collection__item {
      &:hover {
        background: darken($primary-color, 10%) !important;
      }
    }

    .tox-collection__item--enabled,
    .tox-collection__item--active {
      background: transparent !important;
    }

    h1 {
      background: transparent !important;
    }
  }
}
