@import 'variables';
@import 'breakpoints';
@import 'buttons';
@import 'editor';

.loading {
  background: $primary-color;
}

.keyline {
  width: 40px;
  height: 2px;
  background: $primary-color;
}

.text-spaced--1 {
  letter-spacing: 1px;
}

.text-spaced--2 {
  letter-spacing: 2px;
}

.text-spaced--3 {
  letter-spacing: 3px;
}

.text-sm {
  font-size: 0.8rem;
}

.line-height-1 {
  line-height: 1;
}
