@import 'variables';
@import 'breakpoints';
@import 'buttons';
@import 'editor';
@import 'utilities';

.loading {
  background: $primary-color;
}

.keyline {
  width: 40px;
  height: 2px;
  background: $primary-color;
}

.loading-box {
  background: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;

  div & {
    position: relative;
  }

  &.cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
}
