@import '@/styles/breakpoints.scss';

.v-card {
  background: white !important;

  @include sm-up() {
    max-width: 400px;
  }
}

.v-input {
  input {
    text-align: center !important;
  }
}

.social-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  color: #999;
  letter-spacing: 3px;

  .v-icon {
    cursor: pointer;
    font-size: 55px;
  }

  .btn-facebook {
    color: #3b5998;
  }

  .btn-google {
    color: #ea4335;
  }
}

.email-actions {
  .v-btn {
    height: 56px !important;
    font-size: 1.2rem;
  }
}
